.codeblock-sm {
    font-size: 0.8em;
}

ul,pre {
    margin-top: 15px;
}

.slides > article {
    box-shadow: none;
    border: none;
}

h1, h2, h3, h4, p, li, a, .reference{
    color: #444;
}

h2{
    font-size: 1.8em;
}

#page h2, #id1 h2{
    display: none;
}

code {
	background-color: #f7f7f7;
	border-radius: 3px;
	font-family: 'Consolas', monospace;
	color: #333;
	padding: 4px;
}
