@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
    background: #92C7A3;
}

h1, h2, h3, h4, p, a{
    font-family: 'Open Sans', sans-serif;
    color: #2D2D29;
}

h1, h2{
    color: #215A6D;
}

.slides > article{
    background: #fff;
}

