@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
body{
    background: #92C7A3;
}

h1, h2, h3, h4, p, a{
    font-family: 'Open Sans', sans-serif;
    color: #2D2D29;
}

h1, h2{
    color: #215A6D;
}

.slides > article{
    background: #fff;
}

#index{
    background: #fff;
    margin: 0px;
    overflow-x: hidden;
}

.black{
    background: #000;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 49%;
    display: inline-block;
    height: 100vh;
}

.black ul{
    float: right;
    padding: 5px;
    margin: 0px;
    padding-top: 40px;
    list-style-type: none;
}

.black ul li{
    display: block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3em;
    height: 120px;
    padding: 10px;
}

.white{
    background: #fff;
    margin: 0px;
    padding: 0px;
    width: 49%;
    display: inline-block;
    height: 100%;
}

.white ul{
    vertical-align: top;
    float: left;
    padding: 5px;
    margin: 0px;
    padding-top: 50px;
    list-style-type: none;
}

.white ul li{
    display: block;
    height: 120px;
    padding: 10px;
}

.white ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    font-size: 2.7em;
    line-height: .9em;
    vertical-align: bottom;
} 

.white ul li a:hover{
    color: red;
}

.tiny{
    vertical-align: top;
    font-size: .66em;
}
